<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Empleados </title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Registro de Empleado</h2>
    
    <form th:action="@{/registrar_empleado}" th:object="${emp}" method="post">
    
    	<input type = "hidden" name = "Dniempleado" th:field = "*{dniEmpleado}">
    	
        <div class="form-group">
            <label for="nombre">Nombre Empleado</label>
            <input type="text" class="form-control" id="nombreEmpleado" th:field="*{nombreEmpleado}" placeholder="Ingrese su nombre" required>
        </div>
        <div class="form-group">
            <label for="correo">Apellido Empleado</label>
            <input type="text" class="form-control" id="apellidoEmpleado" th:field="*{apellidoEmpleado}" placeholder="Ingrese su correo electrónico" required>
        </div>
        <div class="form-group">
            <label for="correo">Fecha Nacimiento</label>
            <input type="date" class="form-control" id="FechaEmpleado" th:field="*{fechaNacimiento}" placeholder="Ingrese su correo electrónico" required>
        </div>
        <div class="form-group">
            <label for="correo">Direccion:</label>
            <input type="text" class="form-control" id="Direccion" th:field="*{direccion}" placeholder="Ingrese su correo electrónico" required>
        </div>
        <div class="form-group">
            <label for="password">Correo</label>
            <input type="email" class="form-control" id="correoEmpleado" th:field="*{correo}" placeholder="Ingrese su contraseña" required>
        </div>
        
        <div class="form-group">
      <label for="categoria">Seleccione Empleado</label>
      <select  name="itemId" id="areas" class="form-control" th:field="*{areaentity.areaId}">
        <option value="" disabled selected>Selecciona una categoría</option>
        <option th:each="area : ${lista_areas}" th:value="${area.areaId}" th:text="${area.nombreArea}"></option>
      </select>
    	</div>
        <a th:href="@{/lista}" class="btn btn-secondary">Regresar a la Lista</a>
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </form>
</div>
</body>
</html>